
.can-use {
    opacity: 1;
}

.cant-use {
    opacity: 0.6;
}

.main-icon {
    position: relative;
}

.sub-icon-row {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: flex-start;

    img {
        background-color: black;
    }
}