
.recipes-section {
    width: 100%;
    align-items: flex-start;
}

.recipe-list {
    background-color: lightgray;
    width: 25%;
}

.recipe-entries {
    max-width: 90vw;
}

.recipe-entry {
    justify-content: space-between;
    width: 95%;
    flex-wrap: nowrap;

    border-radius: 8px;
    border-width: 8px;
    border: thick;
    border-style: groove;
    border-color: black;
    background-color: grey;

    p {
        margin: 0;
    }
}

.recipe-name {
    width: 160px;
}

.recipe-ingredient-list {
    justify-content: flex-start;
    gap: 8px;
}

.ingredient-count {
    width: 25px
}

.possible-recipe {
    background-color: lightgreen;
}

.impossible-recipe {
    background-color: lightpink;
}